DATABASE_URL="postgresql://postgres:postgres@localhost:5432/build_like_a_creator"
SESSION_SECRET=""
GITHUB_TOKEN=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_VIEWER_REPO_PAGES="3"
GITHUB_VIEWER_STARRED_PAGES="2"
GITHUB_VIEWER_PINNED_COUNT="6"
GITHUB_DEEP_ANALYSIS_REPOS="10"
GITHUB_CATALOG_CACHE_MINUTES="30"
GITHUB_REQUEST_TIMEOUT_MS="8000"
GITHUB_BULK_PAGES_PER_QUERY="1"
GITHUB_BULK_RESULTS_PER_PAGE="100"
GITHUB_BULK_QUERY_BATCH_SIZE="32"
GITHUB_BULK_QUERY_BATCH_ROUNDS="3"
GITHUB_QUALIFICATION_SCORE_MIN="7"
GITHUB_QUALIFICATION_MIN_STARS="30"
GITHUB_QUALIFICATION_MAX_STALE_DAYS="540"
GITHUB_IMPORT_QUALIFICATION_SCORE_MIN="4"
GITHUB_LIMITED_QUALIFICATION_SCORE_MIN="10"
